<div class="col-md-3 col-sm-4">
  <div class="guest {{unbound receptionClass}}">
    {{#if international}}
    <div class="international"></div>
    {{/if}}
    <span class="avatar {{unbound inviter}}"></span>
    <div class="name">{{unbound haircut name}}</div>
    <button class="btn btn-xs btn-close"{{action "deleteGuest" guestId}}>&times;</button>

    <div>
      <span class="number-of-guests">{{numberOfGuests}} guests</span>
    </div>
  </div>
</div>
