.new-invitation {
  background: $light-grey;
  padding:15px;
  padding-right:100px;
  border-left: 8px solid $turquoise;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from($turquoise), to($light-blue));
  border-image-outset: 0px;
  border-image-width:100% 0% 0% 6px;
  border-image-repeat: stretch;
  transition: all 200ms ease-in;
  &:hover{
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(lighten($turquoise, 4%)), to(lighten($light-blue, 4%)));
    border-image-outset: 0px;
    border-image-width:100% 0% 0% 6px;
    border-image-repeat: stretch;
  }
}

.guest-aside {
  .big-number {
    font-family: "proxima-nova-alt-condensed",sans-serif;
    font-size: 74px;
    letter-spacing: -0.03em;
    line-height: 1.05em;
    font-weight: 300;
  }
  .total-guests {
   color:$blue;
  }
  .total-reception {
    color:$dark-turquoise;
  }
  .total-invitation {
    color:$dark-blue;
  }
  .total-international {
    color: $red;
  }
  .total-label {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    font-size: 22px;
    font-weight: 200;
    color: $grey;
  }
}

.guests {
  .guest {
    position: relative;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    background: $light-grey;
    min-height: 60px;
    border-left: 4px solid $blue;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom:20px;
    font-size: 18px;
    font-weight:300;
    color: $dark-grey;
    min-height: 82px;

    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from($light-blue), to($blue));
    border-image-outset: 0px;
    border-image-width:100% 0% 0% 4px;
    border-image-repeat: stretch;
    transition: all 100ms ease-in;

    &:hover{
      .name {
        color: darken($dark-blue, 10%);
      }
    }

    @media screen and (max-width: $break-xlarge) and (min-width: $break-medium){
      min-height: 124px;
    }
    .number-of-guests {
      font-size: 24px;
      font-weight: 200;
    }
    .name {
      font-weight: 600;
      color: $dark-blue;
    }
    .btn-close {
      position: absolute;
      top:-10px;
      right:-10px;
    }
    .avatar{
      display: inline-block;
      width: 42px;
      height: 42px;
      border-radius:21px;
      margin-right:8px;
      float:right;
      background: url(image_path('rappin.jpeg'));
      background-size:100%;
    }
    .avatar.mona{
      background: url(image_path('mona.jpg'));
      background-size:100%;
    }
    .avatar.tia{
      background: url(image_path('tia.jpg'));
      background-size:100%;
    }
    .avatar.bassem{
      background: url(image_path('bassem.jpg'));
      background-size:100%;
    }
    .avatar.ayman{
      background: url(image_path('ayman.jpg'));
      background-size:100%;
    }
  }
  .guest.reception{
    border-left: 4px solid $turquoise;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from($turquoise), to($dark-turquoise));
    border-image-outset: 0px;
    border-image-width:100% 0% 0% 4px;
    border-image-repeat: stretch;
    transition: all 100ms ease-in;
    &:hover{
      .name {
        color: darken($dark-blue, 10%);
      }
    }
  }
  .guest{
    .international {
      height:8px;
      width:8px;
      border-radius:5px;
      background: $red;
      position:absolute;
      bottom:8px;
      right:8px;
    }
    &:hover{
      .international{
        height:10px;
        width:10px;
        bottom:7px;
        right:7px;
      }
    }
  }
}
