.new-invitation {
    background: $light-grey;
    padding:15px;
    padding-right:100px;
    border-left: 8px solid $turquoise;
}

.guest-aside {
  .big-number {
    font-family: "proxima-nova-alt-condensed",sans-serif;
    font-size: 74px;
    letter-spacing: -0.03em;
    line-height: 1.05em;
    font-weight: 300;
  }
  .total-guests {
   color:$blue;
  }
  .total-reception {
    color:$dark-turquoise;
  }
  .total-invitation {
    color:$dark-blue;
  }
  .total-international {
    color: $red;
  }
  .total-label {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    font-size: 22px;
    font-weight: 200;
    color: $grey;
  }
}

.guests {
  .guest {
    position: relative;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:8px;
    background: $light-grey;
    min-height: 60px;
    border-left: 4px solid $blue;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom:20px;
    font-size: 18px;
    font-weight:300;
    color: $dark-grey;
    .number-of-guests {
      font-size: 24px;
      font-weight: 200;
    }
    .name {
      font-weight: 600;
      color: $dark-blue;
    }
    .btn-close {
      position: absolute;
      top:-10px;
      right:-10px;
    }
  }
  .guest.reception{
    border-left: 4px solid $turquoise;
  }
  .guest{
    .international {
      height:8px;
      width:8px;
      border-radius:4px;
      background: $red;
      position:absolute;
      bottom:8px;
      right:8px;

    }
  }
}
