.navbar {
  margin-top: 20px;
}
.navbar-inverse{
  background: $dark-turquoise;
  background: -webkit-gradient(linear, left top, left bottom, from($turquoise), to($dark-turquoise));
  border: 0px;
  a.navbar-brand{
    color: #fff;
  }
  ul.nav{
    li{
      a{
        color: $light-grey;
      }
    }
  }
}