{{#if view.errorMessage }}
<div class="alert alert-danger">{{view.errorMessage}}</div>
{{/if}}
<form action="#" class="signup">
<fieldset>
  <legend>Signup</legend>
  <label>Email:</label>
  {{input type=text value=view.email class="form-control"}}

  <label>Password:</label>
  {{input type="password" value=view.password class="form-control"}}

  <br/>
  <button class="btn btn-primary" type="submit">Sign up</button>
</fieldset>
</form>