@import 'bootstrap';
body{
  color: #666f7f;
}
.guests{
  list-style: none;
  margin: 0px;
  padding:0px;
  .guest{
    padding:8px;
    border: 1px solid #e1e1e9;
    background: #fefeff;
    border-radius: 2px;
    margin-bottom:4px;
    font-size: 18px;
    font-weight:300;
  }
}